.login{
  background-image: url('./../../assets/background/login-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:auto;
  min-height: 100vh;
  padding: 0 1rem 1rem;
  font-family: Arimo;
  font-family: Arimo,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(200px, 40%, 600px);
  }
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2.2rem;
  &__create-acc{
    position: relative;
    &::after,&::before{
      content: '';
      position: absolute;
      width: clamp(30px,15vw,250px);
      height: 1.5px;
      background: #000;
    }
    &::after{
      right: 110%;
      top: 14px;
    }
    &::before{
      left: 110%;
      top: 14px;
    }
  }
  &__create-acc p{
    font-family: Inter,sans-serif;
    font-size: clamp(10px,5vw,20px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4px;
    transition: all .5s ease;
  }
}
.line{
  width: 100px;
  height: 2px;
  border: 1px solid transparent;
}
.link__sing-up{
  width: 100%;
}