.reset{
  background-image: url('./../../assets/background/login-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  min-height: 100vh;
  padding: 0 1rem 1rem;
  align-items: center;
}
.reset__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset__form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

@media(max-width:440px){
  .reset{
    background-image: url('./../../assets/background/login-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:auto;
    min-height: 100vh;
  }
}

@media(max-width:440px){
  .reset{
    background-image: url('./../../assets/background/login-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:auto;
    min-height: 100vh;
  }
}