.form{
  &__forget-password{
    margin-left: auto;
  }
  &__forget-password span{
    font-family: Inter,sans-serif;
    font-size: clamp(12px,5vw,16px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4px;
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
      color: #0889FF;
    }
  }
}