.search{
  display: flex;
  position: relative;
  z-index: 10;
  &__input{
    outline: none;
    border: 2px solid #757575;
    border-radius: 75px 15px;
    padding: 10px 20px 10px 42px;
    color: #575757;
    font-family: Arimo,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400; 
    line-height: normal;
    letter-spacing: 1.4px;
    width: clamp(260px,70vw,1200px);
    transition: all .5s ease;
    &:focus{
      transition: all .5s ease;
      border: 2px solid #41BBFF;
    }
  }
  &__icon{
    position: absolute;
    bottom: 5px;
    left: 6px;
    width: 30px;
    height: 30px;
  }
}