.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  padding: 3px;
  border-radius: 20px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #979797;
  }
}
.card__items {
  width: clamp(300px, 80vw, 1290px);
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 2.5rem;
}
.slider {
  width: clamp(240px, 40vw, 700px);
  margin-bottom: 0.4rem;
  border-radius: 15px;
}

.slider__img {
  width: 100%;
  height: 360px;
  border-radius: 12px;
  object-fit: cover;
  border: 1px solid #000000;
}
.card__item-user {
  display: flex;
  align-items: start;
  justify-content: start;
  column-gap: 0.3rem;
  width: 100%;
}
.card__user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #0889ff;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    transition: all 0.5s ease;
    border-color: #41bbff;
    background: #eef4f8;
  }
}
.card__user-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.card__id,
.card__profession {
  color: #000;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  line-height: 130%;
}
.card__profession {
  margin-left: auto;
  text-align: end;
}

.card__item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.card__item-title {
  color: #000;
  font-family: Arimo;
  font-size: clamp(16px, 50vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;

  -webkit-line-clamp: 1; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
}
.card__item-text {
  padding: 8px 6px 2px 6px;
  border-radius: 7px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: clamp(12px, 20vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  background-color: #fff;
  max-width: 100%;

  -webkit-line-clamp: 15; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__user-add {
  margin-right: auto;
}
.card__user-favorite,
.card__user-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card__user-playlist:hover {
  & svg path {
    transition: all 0.5s ease;
    fill: none;
    stroke: #0889ff;
  }
}

@media (max-width: 480px) {
  .card__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .slider {
    width: clamp(240px, 80vw, 700px);
  }
}
