@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@400;500&display=swap');
@import 'reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Arimo','Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}


.container{
  margin:0 auto;
  max-width:1920px;
  width:100%;
}

.client__bg{
  background-image: url('./assets/background/client-bg.png');
  background-repeat: repeat-y;
  background-size: contain;
  min-height: 920px;
  width: 100%;
}