.custom-dialog-container .p-dialog .p-dialog-content {
}
.p-dialog-header,.p-dialog-content{
  padding: 0.8rem;
}
.p-dialog-footer{
  padding: 0 1.5rem 0.8rem 0.8rem;
}
.share__list{
  display: flex;
  align-items: center;
  justify-content:start;
  column-gap: 1.4rem;
  &-item{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.share__copy{
  position: relative;
  margin-top: 0.8rem;
  &-input{
    outline: none;
    width: 100%;
    background-color: #2B2B2B;
    border-radius: 20px;
    padding: 7px 11px;
    color: #e8e8e8;

    font-family: Arimo,sans-serif;
    font-size: 20px;
    text-align: left;
  }
  &-btn{
    position: absolute;
    right: 3px;
    top: 3px;

    padding: 5px;
    background-color: #0889FF;
    outline: none;
    border-color: transparent;
    border-radius: 20px;

    font-size: 18px;
    color: #fff;
  }
  &-btn:hover{
    transition: all .5s ease;
    background-color: rgb(6, 85, 158)
  }
}